body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

 form {
            margin-bottom: 20px;
        }
        
label {
            display: block;
            margin-top: 10px;
        }
    

input, select, button {
            padding: 8px;
            margin-top: 4px;
            display: block;
            width: 250px;
        }

#message {
            margin-top: 15px;
            font-weight: bold;
            color: green;
        }


 .container {
            display: flex;
            height: 100vh;
        }

        .part-80 {
            width: 80%;
            background: lightblue;
        }

        .part-20 {
            width: 20%;
            background: lightcoral;
}